[sources]
allow-git = [
    "https://github.com/flux-rs/flux.git",
    "https://github.com/model-checking/kani",
]

[licenses]
confidence-threshold = 0.93
allow = [
    "Apache-2.0 WITH LLVM-exception",
    "Apache-2.0",
    "BSD-2-Clause",
    "BSD-3-Clause",
    "BSL-1.0",
    "CC0-1.0",
    "CDLA-Permissive-2.0",
    "ISC",
    "MIT",
    "MPL-2.0",
    "Unicode-3.0",
    "Unicode-DFS-2016",
    "Zlib",
]

[licenses.private]
ignore = true
